@charset "utf-8";
/* CSS Document */

.index_content{ width:948px; margin:10px auto 20px auto;}
/*-----------------设置 S-----------------*/
.set_rigbox{ width:769px; float:right;}
.set{ width:769px; text-align:left; margin-bottom:15px;}
.set_tle{ width:769px; height:31px;}
.set_tle_left{ width:145px; height:31px; line-height:31px; background-image: url(../images/set_tle_left.gif); font-size:14px; font-weight:bold; color:#f66e00; float:left; text-align:center}
.set_tle_center{ width:614px; height:31px; background-image:url(../images/application_tle_center.gif); float:left}
.set_tle_right{ width:10px; height:31px; float:right}
.set_down{ width:767px; _width:769px; float:left; border-bottom:1px solid #e0e8ec; border-left:1px solid #e0e8ec; border-right:1px solid #e0e8ec; overflow:hidden}
.set_downs{ width:660px; height:21px; float:left; margin:20px 0 10px 40px; display:inline}
.set_dws{ width:660px; height:21px; float:left; margin:10px 0 20px 40px; display:inline}
.set_dw{ width:660px; float:left; margin:20px 0 0 40px; display: inline}
.set_dw_left{ width:271px; height:81px; float:left;}
.set_dw_right{ width:271px; height:81px; float:left; margin-left:60px; display:inline}
.set_dw_my{ width:660px; float:left; margin:18px 0 20px 61px; display: inline}
.set_dw_all{ width:660px; float:left; margin:18px 0 20px 61px; display: inline}
.set_con{ width:680px; margin-bottom:15px; float:left}
.set_down_mynews{ white-space:nowrap; height:21px; line-height:21px;}
.set_down_list{width:180px; height:21px; line-height:21px;}

.set_down_button{width:59px; height:21px;background-image:url(../images/application_button.gif); color:#FFF; cursor:pointer; margin-left:10px;}
.set_right{ width:175px; height:112px; float:left; background-image:url(../images/set_right.gif)}
.set_right span{ width:145px; line-height:18px; color:#666; float:left; margin:18px 0 0 9px; display:inline}
/*-----------------设置 E-----------------*/

/*-----------------好友申请/关注 S-----------------*/
.application{ width:728px; text-align:left; margin-bottom:25px; margin-top:12px}

.application_tle{width:728px; height:29px; background-image: url(../images/newsjob_tlebg.gif);}
.application_tle ul {padding:0;  margin:0;  list-style:none; }		  
.application_tle ul li { float:left; margin-right:7px;  font-weight:bold; font-size:14px}
.application_tle ul li a{display:block;line-height:29px;  color:#545353; text-decoration:none; padding:0 0 0 18px; background: url(../images/peoples_all.gif) no-repeat left top;}		  
.application_tle ul li a:hover{ color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat left top; }	
.application_tle ul li a.bhover{ color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat left top; } 
.application_tle ul li a b{display:block;padding:0 18px 0 0;background: url(../images/peoples_all.gif) no-repeat right top; }		  
.application_tle ul li a:hover b{color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat right top; }
.application_tle ul li a b.chover{color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat right top; }

.application_down{ width:705px; _width:728px; padding-right:21px;float:left; border-bottom:1px solid #d9d9d9; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; overflow:hidden; padding-bottom:15px;}
.application_down_con{ width:683px; float:left; margin:15px 0 0 15px; display:inline; padding-bottom:15px; border-bottom:1px dashed #ccc}
.application_down_con_l{ width:50px; height:50px; border:1px solid #d4d4d4; float:left;}
.application_down_con_r{ width:610px; height:40px;float:left; margin:8px 0 0 15px; display:inline}
.application_down_con_r_name{ font-size:12px; font-weight:bold; color:#ff780a; float:left}
.application_down_con_r_corner{ width:300px;float:left; color:#b6b6b6; margin-left:17px; display:inline}
.application_down_con_r_email{ width:610px;float:left; line-height:18px; margin-top:10px; color:#666666; text-align:left}
.application_down_con_r_email span{float:right; text-align:right; color:#CCC}

.application_box{ width:680px;line-height:24px;}
.application_name{ width:72px;height:24px; float:left}
.application_friend{ width:608px;height:24px; float:left; color:#b6b6b6}
.application_content{ width:680px; height:24px; float:left; margin:7px 0 0 0; display:inline}
.application_word{ width:420px;float:left;}
.application_words{ width:420px;float:left; color:#b6b6b6; }
.application_button{height:24px;float:right; margin-right:22px ; display:inline}

/*-----------------好友申请/关注 E-----------------*/



/*-----------------个人信息/公开 S-----------------*/
.infor_box{ width:1004px; margin-top:10px; margin-left:auto; margin-right:auto;text-align:left; }
.information{width:941px;font-size: 12px;margin-left:35px; display: inline; float:left}
/*-----------------个人信息 左边 S-----------------*/
.information_left{ width:213px; height:262px; float:left; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; border-top:1px solid #cccccc; background-image:url(../images/information_leftbg.gif);}
.information_pro{ width:190px; height:auto;}
.information_word{ width:190px; height:auto; margin-top:15px; margin-left:10px; }
.information_friend{ width:30px; height:auto; float:left; margin:0 15px; display:inline}
.information_friend_yw{ width:30px; font-size:14px; color:#e68a27; font-weight:bold; text-align:center}
.information_friend_zw{ width:30px; font-size:13px; color:#e68a27; font-weight:bold; margin-top:8px;text-align:center}
div.information_friend_zw a.blues{font-size:13px; color:#e68a27;}
div.information_friend_zw a.blues:hover{font-size:13px; color:#e68a27; text-decoration:underline;}
.information_friend_line{ width:30px;  float:left}
/*-----------------个人信息 左边 E-----------------*/

/*-----------------个人信息 右边 S-----------------*/
.information_right{ width:724px; float:left; border:1px solid #ccc}
.information_right_content{ width:625px; margin:23px 0 0 50px; font-size:13px; float:left; display:inline}
.information_box{ width:625px; text-align:left; margin-bottom:10px;}
.information_box_l{ width:52px; float:left}
.information_box_r{ width:573px; float:right;}
.information_box_r ul{ width:573px; float:left;}
.information_box_r li{ width:573px; float:left;}


.information_name{ width:100px; font-size:14px; font-weight:bold; color:#0033cc; float:left}
.information_company{ width:220px; height:30px; margin-left:15px; margin-right:15px; float:left; display:inline; overflow:hidden; text-align:left}
.information_post{ width:100px; float:right;}
.information_email{ width:211px; float:left; margin-bottom:10px;}
.information_pj{ width:625px; float:left; margin-bottom:10px; line-height:18px; clear:both;}
.information_pjs{ font-weight:bold; color:#666}
.information_qq{ width:211px; font-size:12px; float:left; margin-bottom:10px; }
.information_line{ width:625px; height:1px; line-height:1px; overflow:hidden; background-color:#EDEDED; margin-bottom:10px;}
.information_work{ width:52px; font-size:12px; font-weight:bold; color:#666; float:left}
.information_coms{ width:200px; padding-bottom:10px; float:left; display:inline}
.information_posts{ width:108px; padding-bottom:10px; float:left; display:inline;}
.information_date{ width:130px; margin-left:50px; padding-bottom:10px; float:left; display:inline}



.information_button{ margin-top:10px; float:left}
.information_button .hrl{ width:68px; height:26px;float:left; cursor:pointer;}
.inbut_fsx{float:left; padding-top:16px; color:#3399ff; margin-left:15px; _margin-left:8px;}
div.inbut_fsx a.blues{ color:#707070;}
div.inbut_fsx a.blues:hover{ color:#707070; text-decoration:underline;}
.information_button .ygz{  height:24px; border:1px solid #dddddd; background-color:#f8f8f8; float:left; padding-right:5px;}
.information_button .ygz .word{ background:url(../images/btn_ygz.gif) no-repeat; margin:5px 0 0 6px; float:left; display:inline; color:#73797c;padding-left:10px;}

.information_button .hxgz{ width:118px; height:24px; border:1px solid #dddddd; background-color:#f8f8f8; float:left}
.information_button .w_line{ padding:0 9px;}
.information_button .hxgz .word{ width:95px; padding-left:15px; background: url(../images/btn_hxgz.gif) no-repeat; margin:5px 0 0 6px; float:left; display:inline; color:#73797c}

.information_button .hricon{ width:33px; height:28px;float:left; background:url(../images/hricon.gif)}
.information_button .hrbg{ width:149px; font-size:14px; font-weight:bold; text-align:center; height:28px; line-height:28px; color:#FFF; float:left; background:url(../images/hrbg.gif); cursor:pointer}
.information_button .hright{ width:4px; height:28px;float:right; background-image:url(../images/hright.gif)}

.information_button .hrls{ width:4px; height:28px;float:left; background:url(../images/infor_bnt_l.gif)}
.information_button .hricons{ width:33px; height:28px;float:left; background:url(../images/infor_bnt_j.gif)}
.information_button .hricony{ width:33px; height:28px;float:left;background:url(../images/infor_bnt_g.gif)}
.information_button .hriconz{ width:33px; height:28px;float:left;background:url(../images/infor_bnt_h.gif)}
.information_button .hrbgs{ width:149px; font-size:14px; font-weight:bold; text-align:center; height:28px; line-height:28px; color:#FFF; float:left; background: url(../images/infor_bnt_bg.gif);color:#73797c}
.information_button .hrights{ width:4px; height:28px;float:right; background:url(../images/infor_bnt_r.gif) }


.informations{ width:533px; height:79px; border:1px solid #202020; margin:10px 0;}
.informations ul{ width:360px; height:24px; float:left; margin:30px 0 0 90px; display:inline;}
.informations ul li{ float:left}
.informations_img{ width:29px; height:24px; float:left;}
.informations_word{ width:290px; height:24px; line-height:24px; float:left; margin-left:25px; text-align:left}

/*-----------------近期动态-----------------*/
.information_dynamic{ width:625px; height:30px;border-top:1px solid #ccc; border-bottom:1px solid #ccc; text-align:left;margin:23px 0 0 0; float:left; display:inline}
.information_dynamic_txt{ font-size:14px; font-weight:bold; color:#666666; margin:8px 0 0 10px; display:inline; float:left; display:inline}



/*------翻页 S-----*/
.fanye {text-align: center; margin:0 auto 10px auto}
.fanye_shang{ width:57px; height:24px;text-align: center; float:left; margin:0 0 8px 220px; display:inline}
.fanye_xia{ width:57px; height:24px;text-align: center; float:left; margin:0 0 8px 20px; display:inline}
.fanye A {color: #5d5d5d}
.fanye A:hover {color: #028bd8}
.fanye A.fy_focus {color: #028bd8}
/*------翻页 E-----*/


/*------职友们在干嘛发布信息 S-------*/

/*--------------------------------人脉  S-----------------------------------*/
.people_box{ width:1004px; margin:18px auto 40px auto; text-align:left}
.people{ width:948px;margin-left:31px; display: inline; float:left}

.people_tle{width:948px; height:36px; font-size:14px;background: url(../images/job_content_up.gif) repeat-x bottom}
.people_tle ul {padding:0;  margin:0;  list-style:none; }		  
.people_tle ul li { float:left; line-height:32px; margin-left:19px; display:inline; font-size:14px; text-align:center}
.people_tle ul li a{display:block;line-height:32px;  color:#545353; text-decoration:none; padding:0 0 0 18px; background: url(../images/job_tuijian.gif) no-repeat left top;}		  
.people_tle ul li a:hover{ color:#ff8400;  background: url(../images/job_search.gif) no-repeat left top; }	
.people_tle ul li a.bhover{ color:#ff8400;  background: url(../images/job_search.gif) no-repeat left top; } 

.people_tle ul li a b{display:block;padding:0 18px 0 0;background: url(../images/job_tuijian.gif) no-repeat right top; font-weight:normal }		  
.people_tle ul li a:hover b{color:#ff8400;  background: url(../images/job_search.gif) no-repeat right top; font-weight:bold }
.people_tle ul li a b.chover{color:#ff8400;  background: url(../images/job_search.gif) no-repeat right top; font-weight:bold }

.people_content{ width:948px; margin-top:14px;margin-left:31px; display: inline; float:left}
.people_con_box{ width:652px; float:left; margin-left:21px; display:inline}
.people_con_search{ width:652px; height:67px; float:left; margin-bottom:17px; }
.people_con_search .top{ width:652px; height:7px; overflow:hidden}
.people_con_search .cer{ width:652px; height:53px; background-image:url(../images/search_friends_c.gif)}
.people_con_search .cer .qzyx{ width:77px; height:23px; line-height:23px; color:#0179e7; font-size:14px; font-weight:bold; float:left; margin:15px 0 0 21px; display:inline}
.people_con_search .cer .gzdd{ width:71px; height:23px; line-height:23px; color:#000; float:left; text-align:center; background-image:url(../images/search_friends_work.gif); margin-right:8px; margin-top:15px; cursor:pointer}
.people_con_search .cer .srk{ width:182px; padding-left:4px; height:23px; _line-height:21px; color:#adabab; float:left; text-align:left; margin:15px 8px 0 4px; display:inline; border:1px solid #466a91; font-size:12px;}
.people_con_search .cer .xz{ width:175px; height:33px;float:left; text-align:left; margin:12px 0 0 0; display:inline; cursor:pointer}
.people_con_search .dw{ width:652px; height:7px;}

.people_con_list{ width:652px; float:left;}
.people_con_list .tle{ width:652px; height:19px; float:left; border-bottom:1px solid #bbbab8; color:#5a5959}
.people_con_list .all{ white-space:nowrap; float:left; overflow:hidden; margin-right:6px;}
.people_con_list .school{ white-space:nowrap; float:left; margin-right:15px;}
.people_con_list .ca{ white-space:nowrap; float:left; margin-right:22px; cursor:pointer}
.people_con_list .cas{ white-space:nowrap; float:left; margin-right:15px; cursor:pointer}

.people_con_list .qb{ width:642px; _width:652px; height:24px; font-size:14px; border-bottom:1px solid #dddcdb; margin-bottom:13px; margin-top:4px; float:left; color:#595858; padding-left:10px;}
.people_con_list .qb .word{ white-space:nowrap; float:left; margin-left:14px; display:inline; color:#0179e7; cursor:pointer}
.people_con_list .qb .number{ white-space:nowrap; float:left; color:#ff8400; margin:0 9px; display:inline}
.people_con_list .qb .line{ float:left; width:1px; color:#929292; margin-top:-2px;}
.people_con_list .qb .txt{ float:left;}



.people_con_list .qx{ width:652px; height:24px; background:url(../images/search_friends_line.gif) bottom repeat-x; margin-top:13px; float:left;}
.people_con_list .qx .fxk{ vertical-align:middle; margin-top:-2px; margin-bottom:1px; margin-left:8px; margin-right:8px; }
.people_con_list .qx .txt{ color:#0179e7}
.people_con_list .qx .plgz{ color:#0179e7; cursor:pointer; margin-left:511px; _margin-left:495px;}

.people_con_list .qxs{ width:652px; height:24px; background:url(../images/search_friends_line.gif) bottom repeat-x; margin-top:3px; float:left; color:#b6b6b6}
.people_con_list .qxs .fxk{ vertical-align:middle; margin-top:-2px; margin-bottom:1px; margin-left:8px; margin-right:8px; }
.people_con_list .qxs .txt{ color:#0179e7; margin-right:28px;}
.people_con_list .qxs .plgzs{ color:#0179e7;margin-right:6px; margin-left:6px; cursor:pointer; display:inline}
.people_con_list .qxs .plgzsd{ color:#0179e7;margin-right:6px; margin-left:331px; _margin-left:312px; cursor:pointer; display:inline}

.people_con_lists{ width:652px; /*height:113px;*/ background:url(../images/search_friends_line.gif) bottom repeat-x; margin-top:8px; float:left;}
.bg_gray{background:#f3f3f3;}
.people_con_lists .block{ width:642px; _width:649px; /*height:103px;*/ float:left; padding-right:10px;}
.people_con_lists .block .fxk{ float:left; margin:14px 0 0 9px; display:inline}
.people_con_lists .block .fxks{ vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
.people_con_lists .block .pro{ width:68px; height:68px; float:left; margin:10px 0 0 10px; display:inline}
.people_con_lists .block .con{ width:448px; _width:440px; /*height:90px;*/ float:left; margin:10px 0 0 20px; _margin:10px 0 0 18px; display:inline; color:#626363}
.people_con_lists .block .con .up{ width:448px; _width:440px; float:left;}
.people_con_lists .block .con .up .name{ white-space:nowrap; float:left;  font-size:14px; font-weight:bold; color:#0179e7; cursor:pointer}
.people_con_lists .block .con .up .icon{ float:left; margin:0 11px 0 5px; display:inline}
.people_con_lists .block .con .up .txt{ white-space:nowrap; float:left; margin-right:15px; }

.people_con_lists .block .con .cer{ width:448px; _width:440px; float:left; color:#adabab; margin-top:2px;}
.people_con_lists .block .con .cer .txt{ white-space:nowrap;float:left; margin-right:9px}
.people_con_lists .block .con .cer .number{ white-space:nowrap;float:left; margin-right:5px; color:#0179e7;}
.people_con_lists .block .con .cer .line{ white-space:nowrap;float:left; margin-right:9px}
.people_con_lists .block .con .dw{ width:448px; _width:440px; float:left; color:#adabab; line-height:18px; margin-top:7px;}


.people_con_lists .block .jgz{ width:71px; float:right; color:#0179e7; text-align:center;}
.people_con_lists .block .jgz .ycfs{ white-space: nowrap; height:19px; line-height:19px; float:right; margin-top:8px; cursor:pointer;}
.people_con_lists .block .jgz .hxgz{ width:30px; _width:48px; height:19px; line-height:19px; float:right; margin-top:8px; background:url(../images/btn_hx.gif) left no-repeat; padding-left:18px; cursor:pointer;}
.people_con_lists .block .jgz .xgfz{ width:64px; height:19px; line-height:19px; float:right; margin-top:8px; cursor:pointer;}
.people_con_lists .block .jgz .thhy{ width:64px; height:19px; line-height:19px; float:right; margin-top:8px; color:#626363}

.people_con_right{ width:846px; _width:831px; border:1px solid #e7e7e7; float:left; text-align:left; padding-bottom:20px}
.people_right_con{ width:804px; float:left; margin:20px 0 0 25px; display:inline}
.people_right_con_l{ width:68px; height:68px; border:1px solid #d4d4d4; float:left;}
.people_right_con_r{ width:700px; height:58px;float:left; margin:10px 0 0 15px; display:inline; text-align:left; color:#333}
.people_right_con_r_name{ width:100px; font-size:14px; font-weight:bold; float:left}
.people_right_con_r_add{ width:120px; float:left;}
.people_right_con_r_school{ width:220px;float:left; }
.people_right_con_r_corner{ width:180px;float:left;}
.people_right_con_r_friend{ width:54px;float:right; margin-right:25px; display:inline}
.people_right_con_r_friend span{ width:41px;float:left;}
.people_right_con_r_friend img{ float:left; margin-top:3px; display:inline}
.people_right_con_r_email{ width:220px;float:left; margin-top:20px}
.people_right_con_r_msn{ width:270px;float:left; margin-top:20px}
.people_right_con_r_attention{ width:54px;float:right; margin-top:20px; margin-right:25px; display:inline}

.people_right_con_r_fenye{ width:673px; height:24px; margin:30px 0 0 25px; float:left; display:inline}
.people_right_con_r_fenye_shang{ width:57px; height:24px; margin-left:350px; float:left; display:inline}
.people_right_con_r_fenye_xia{ width:57px; height:24px; margin-left:30px; float:left; display:inline}
/*--------------------------------人脉  E-----------------------------------*/

/*--------------------------------求职  S-----------------------------------*/
.job_box{width:976px; margin:10px auto 0 auto; padding-left:28px; _padding-left:16px;}
.job_left{ width:769px; float:left; margin-left:15px; _margin-left:12px; display:inline}
.job_left_tle{ width:769px; height:37px; font-size:14px;background: url(../images/job_content_up.gif) no-repeat bottom}
.job_left_tle ul {padding:0;  margin:0;  list-style:none; }		  
.job_left_tle ul li { float:left; margin-right:7px}
.job_left_tle ul li a{display:block;line-height:32px;  color:#545353; text-decoration:none; padding:0 0 0 18px; background: url(../images/job_tuijian.gif) no-repeat left top;}		  
.job_left_tle ul li a:hover{ color:#ff8400;  background: url(../images/job_search.gif) no-repeat left top; }
.job_left_tle ul li a.bhover{ color:#ff8400;  background: url(../images/job_search.gif) no-repeat left top; } 
.job_left_tle ul li a b{display:block;padding:0 18px 0 0;background: url(../images/job_tuijian.gif) no-repeat right top; }		  
.job_left_tle ul li a:hover b{color:#ff8400;  background: url(../images/job_search.gif) no-repeat right top; }
.job_left_tle ul li a b.chover{color:#ff8400;  background: url(../images/job_search.gif) no-repeat right top; }

.job_up_box{ width:767px; border:1px solid #e0e8ec; background-color:#FFF; float:left; margin-bottom:10px;}
.job_up_box_s{ width:727px; float:left; margin:13px 0 0 18px; display:inline}
.job_up_box_bg{ width:108px; height:18px; _height:22px; text-align:center; padding-top:4px; *padding-top:6px;background-image:url(../images/job_up_box_bg.gif); float:left; margin-left:20px; display:inline; cursor:pointer}
.job_up_box_line{ width:727px; height:1px; overflow:hidden; border-bottom:1px dashed #e0e8ec; float:left; margin:13px 0 13px 18px; display:inline;}
.job_up_box_x{ width:727px; float:left; margin:0 0 13px 18px; display:inline}
.job_up_select{ width:169px;height:22px; _height:22px; text-align:center; *padding-top:4px; background-image: url(../images/job_up_select.gif);float:left; font-size:12px; margin-right:30px; cursor:pointer}
.jobs_up{ width:727px; height:25px; float:left; margin:13px 0 13px 18px; display:inline; background-image:url(../images/jobs_up.gif)}
.jobs_up span{ float:left; margin:1px 0 0 343px; display:inline; font-weight:bold; color:#ff9900; cursor:pointer}

.jobs_dw{ width:727px; height:25px; float:left; margin:0px 0px 13px 18px; display:inline; background-image: url(../images/jobs_dw.gif)}
.jobs_dw span{ float:left; margin:1px 0 0 343px; display:inline; font-weight:bold; color:#ff9900; cursor:pointer}


.job_con{ width:769px;}
.job_con_up{ width:769px; height:6px; background-image: url(../images/job_content_up.gif); overflow: hidden}
.job_con_center{ width:769px; background-image:url(../images/job_content_bg.gif); overflow:hidden}
.job_con_center_drop{ width:769px;float:left; margin:0 0 10px 0; display:inline;}
.job_con_center_drop ul{ width:769px; overflow:hidden}
.job_con_center_drop ul li{ height:24px; line-height:24px; float:left; margin:0 110px 12px 0; display: inline; }
.job_con_center_drop_word{height:24px; line-height:24px;float:left; padding-right:5px; text-align:right}
.job_con_center_drop_kuang{ width:138px; height:24px; float:left}
.job_con_block{height:21px; _height:22px; line-height:20px; font-size:12px; border:1px solid #cccccc; float:left; overflow:hidden}
.job_con_blocks{ width:300px; height:21px; _height:22px; line-height:20px; font-size:12px; border:1px solid #cccccc; float:left; overflow:hidden; margin:2px 0 0 5px; display:inline}
.job_con_dxk{ float:left; margin:5px 5px; *margin:2px 3px; display:inline}
.job_con_txt{ float: left; margin-top:6px; *margin-top:7px; margin-left: 5px; display: inline;}
.job_con_fxk{ float: left; height: 18px; margin-top:8px; *+margin-top:3px; margin-left: 30px; display: inline }


.job_con_center_drop_button{ width:62px; height:21px; font-size:12px;float:right; margin:0 10px 0 0; display: inline;background-image: url(../images/job_search_button.gif);line-height:21px; color:#FFF; text-align:center; cursor:pointer}
.job_con_center_drop_buttons{ width:62px; font-size:12px; height:21px; float:left; background-image: url(../images/job_search_button.gif); line-height:21px; color:#FFF; text-align:center; cursor:pointer}

/*---------------求职列表分类----------------*/
.job_con_center_tle{ width:767px; height:30px; border:1px solid #e6e6e6; background-image: url(../images/job_con_center_tle.gif); margin:0 0 10px 0; float:left; display:inline; color:#666}
.job_con_center_tle span{ font-size:14px; font-weight:bold; float:left; margin:8px 0 0 11px; display:inline}
.job_con_center_list{ width:769px; float:left; display:inline}
.job_con_center_list_y{width:769px; line-height:30px;border-bottom:1px solid #e0e8ec; border-top:1px solid #e8e8e8; float:left; background-color:#f8f9fa}
.job_con_center_list_w{width:769px;line-height:32px;float:left;}
.job_con_center_list ul li{ width:769px; height:30px; line-height:30px;border-bottom:1px solid #e8e8e8; border-top:1px solid #e8e8e8; float:left; background-color:#f7f7f7; text-align:left}
.job_con_center_list_post{ width:175px; height:30px;font-size:14px; color:#1470cc; font-weight:bold; margin-left:12px; float:left; display:inline; overflow:hidden; text-align:left}
.job_con_center_list_posts{ width:245px; height:30px;font-size:14px; color:#1470cc; font-weight:bold; margin-left:12px; float:left; display:inline; overflow:hidden}
.job_con_center_list_company{ width:255px;color:#333333; float:left; margin-left:20px; display:inline; overflow:hidden;}
.job_con_center_list_add{ width:48px;color:#666666; margin-top:6px; line-height:21px; float:left;}
.job_con_center_list_time{ width:80px;color:#666666;  float:left; margin-left:10px; display:inline; }
.job_con_center_list_money{ width:70px; color:#666666;  float:left; margin-left:5px; display:inline;text-align:center}
.job_con_center_list_app{ width:26px; color:#666666;  float:left; margin-left:10px; display:inline}
.job_con_center_list_recom{ width:26px; color:#666666;   float:left; margin-left:10px; display:inline}
.job_con_center_list_recommend{ width:110px;color:#666666; margin-left:10px; float:left; display:inline}

/*---------------求职分页----------------*/
.job_con_center_list_fenye{ width:731px; height:24px; margin:15px 0; clear:both}
.job_con_center_list_fenye_l{ height:24px; float:left; margin-left:250px; display:inline; }
.job_con_center_list_fenye_l ul{ height:24px; float:left;}
.job_con_center_list_fenye_l ul li{ width:57px; height:24px; line-height:24px; text-align:center; color:#FFF; float:left; margin-right:30px;background-image:url(../images/fy_button1.gif); overflow:hidden}
.job_con_center_list_fenye_ls{ width:57px; height:24px; line-height:24px; text-align:center;background-image:url(../images/fy_button1.gif); color:#FFF; cursor:pointer}

.job_con_down{ width:769px; height:8px; background-image: url(../images/job_content_down.gif); overflow:hidden}

/*---------------求职右边----------------*/

.jb_right{ width:178px; float:left; margin-left:25px; display:inline; margin-top:31px}
.jb_search{ width:178px; float:left; margin-bottom:10px;}
.jb_search_tle{ width:178px; height:30px; background-image: url(../images/job_right_tle.gif); font-size:14px; color:#ff8400; font-weight:bold; line-height:30px; text-align:center}
.jb_search_up{ width:178px; height:7px; background-image:url(../images/job_right_up.gif); overflow:hidden}
.jb_search_dw{ width:178px; height:130px !important; height:130px; background-image:url(../images/job_right_center.gif); padding-bottom:5px; overflow:hidden}
.jb_search_dw ul{ width:150px; margin:5px 0 0 18px;}
.jb_search_dw li{ width:133px !important; width:143px; height:19px; line-height:19px; background:url(../images/job_searchs.gif) no-repeat; padding-left:10px;}
.jb_search_button{ width:178px; height:8px; background-image:url(../images/job_right_dw.gif); overflow:hidden}

.jb_select{ width:178px; float:left;}
.jb_select_tle{ width:178px; height:30px; background-image: url(../images/job_right_tle.gif); font-size:14px; color:#ff8400; font-weight:bold; line-height:30px; text-align:center}
.jb_select_up{ width:178px; height:7px; background-image:url(../images/job_right_up.gif); overflow:hidden}
.job_select_button{ width:178px; height:8px; background-image:url(../images/job_right_dw.gif); overflow:hidden}
.jb_select_dw{ width:178px; background-image:url(../images/job_right_center.gif); padding-bottom:5px; overflow:hidden}
.jb_select_dw dl{ width:149px; float:left; margin:15px 0 2px 22px; display:inline}
.jb_select_dw dl dt{width:6px; height:6px; float:left; margin-top:4px}
.jb_select_dw dl dd{width:130px; float:left;}
.jb_select_dw dl dd ul{width:130px; float:left;}
.jb_select_dw dl dd ul li{width:130px; float:left; margin-left:9px; display:inline; color:#666}
.jb_select_dw dl dd ul li b{width:130px; float:left;color:#ff7300; font-weight:bold}
.jb_select_dw dl dd ul li i{width:6px; height:9px; float:left; margin:9px 0 0 4px; display:inline}
.jb_select_dw dl dd ul li span{width:100px;float:left; margin:7px 0 0 8px; display:inline}
/*-----求职 E-----*/



/*--------------------------------上传照片  S-----------------------------------*/
/*-----上传照片头部 S-----*/
.photo_con{ width:767px; border:1px solid #e0e8ec;float:right;}
.photo_con_tle{ width:400px; font-size:14px; font-weight:bold; float:left; margin:85px 0 0 28px; display:inline; color:#666}
.photo_con_tle span{ color:#0060bf; cursor:pointer; text-decoration:underline}
.photo_l{ width:421px; float:left; margin:15px 0 100px 110px; display:inline; border-right:1px solid #e5e5e5}
.photo_l span{  float:left;background-color: #0F6;}
.photo_r{ width:91px; height:300px; float:left; margin:16px 0 0 20px; display:inline; }
.photo_r .photo_prof{ width:80px; height:80px; float:left; }
.photo_r .photo_name{ width:80px; height:38px; line-height:38px; float:left; color:#999 }
.photo_r .photo_btn{ width:64px; height:26px; float:left; margin-left:8px; margin-top:20px; display:inline; cursor:pointer}

/*-----内容块 下-----*/

.photo_con_downs{ width:400px; float:left; margin:70px 0 40px 15px; display:inline}
/*--------------上传照片 上半部分 S--------------*/
.photo_con_downs_s{float:left;}


/*For Firefox Chrome*/
.photo_con_downs_img{border:1px solid #e9e9e9;width:190px; height:190px;text-align:center;display:table;float:left;position:relative;margin:48px 0 0 100px; display:inline; padding:2px; margin-bottom:45px}
.photo_con_downs_img a{display:table-cell;vertical-align:middle;width:190px;height:190px;}
.photo_con_downs_img a img{margin:0 auto;max-width:190px;max-height:190px;}
/*For IE7*/
*+html .photo_con_downs_img a{position:absolute;top:50%;width:100%;text-align:center;height:auto;}
*+html .photo_con_downs_img a img{position:relative;top:-50%;left:-50%;}
/*For IE6*/
*html .photo_con_downs_img a{position:absolute;top:51%;width:100%;text-align:center;height:auto;display:block;}
*html .photo_con_downs_img a img{position:relative;top:-50%;left:-50%;width:expression(this.width>190?“190px”:“auto”);height:expression(this.height>190?“190px”:“auto”);}






/*--------------上传照片 上半部分  左边--------------*/
.photo_con_downs_s_l{ width:398px; float:left; text-align:left; margin-left:15px; display:inline}
.photo_con_downs_s_l_u{ height:18px; line-height:18px; color:#333; font-size:14px; font-weight:bold}
.photo_con_downs_s_l_u span{ color:#F00}
.photo_con_downs_s_l_c{ width:398px; height:22px;}
.photo_con_downs_s_l_cs{ width:330px; height:18px; border:1px solid #999; line-height:20px; color:#333; float:left}
.photo_con_downs_s_l_css{ width:62px; height:22px; padding-left:2px;}
.photo_con_downs_s_l_d{ width:93px; height:27px; float:left; margin:16px 0 0 0px; display:inline; background-image:url(../images/photo_button.gif); overflow:hidden; cursor:pointer}
/*--------------上传照片 上半部分  右边--------------*/
.photo_con_downs_s_r{ width:100px; height:120px; float:right;}
.photo_con_downs_s_rs{ width:100px; height:100px;}
.photo_con_downs_s_rss{ width:100px; height:20px; line-height:20px; text-align:center}

.photo_con_downs_x{ width:330px; height:91px; float:left; margin-left:15px; display:inline; background-image: url(../images/photo_con_downs_xbg.gif); text-align:left}
.photo_con_downs_x span{ white-space:nowrap; line-height:18px; color:#666666; margin:20px 0 0 10px; float:left; display:inline}
/*--------------上传照片 下半部分 E--------------*/
/*--------------------------------上传照片 E-----------------------------------*/

/*-----------------------个人基本资料 S----------------------*/
.resume_box{ width:1004px; margin:18px auto 40px auto; text-align:left}
/*.resume{ width:928px;margin-left:45px; display: inline; float:left}

.resume_tle{width:928px; height:28px; _height:29px; background-image: url(../images/newsjob_tlebg.gif)}
.resume_tle ul {padding:0;  margin:0;  list-style:none; }		  
.resume_tle ul li { float:left; margin-right:7px;  font-weight:bold; font-size:14px}
.resume_tle ul li a{display:block;line-height:28px;  color:#545353; text-decoration:none; padding:0 0 0 18px; background: url(../images/peoples_all.gif) no-repeat left top;}		  
.resume_tle ul li a:hover{ color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat left top; }
.resume_tle ul li a.bhover{ color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat left top; } 
.resume_tle ul li a b{display:block;padding:0 18px 0 0;background: url(../images/peoples_all.gif) no-repeat right top; }		  
.resume_tle ul li a:hover b{color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat right top; }
.resume_tle ul li a b.chover{color:#ff8400;  background: url(../images/peoples_maybe.gif) no-repeat right top; }
.resume_tle ul li p{ float:left; display:block; font-size:12px; font-weight:normal; background:url(../images/jobseeker_icon.png) no-repeat 0 -208px;padding-top:6px;padding-left:18px;margin-top:4px; padding-right:5px; margin-left:535px; display:inline}*/

.resume_content{ width:976px; margin:10px auto 0 auto; padding-left:28px;}

.resume_right_con{ width:750px;float:left;}
/*信息排序E*//*表格表头有背景,td有虚线E*//*简历使表格S*/
/*--------------个人资料 S----------------*/
.resume_profile{ width:750px;}
.resume_profile_tle{ width:750px; height:29px; background-image:url(../images/resume_tlebbg.gif); float:left}
.item_name{font-size:14px;font-weight:700;color:#ff7101;float:left;height:29px;line-height:29px;background:url(../images/ico_title.gif) no-repeat left center;padding-left:9px;margin-left:8px}

.font_hilite{ color:#F00; font-weight:normal}
.resume_profile_dw{ width:769px; float:right; padding-bottom:13px;}
.col_bg{background-color:#E3FFFB}
.resume_profile_wbk{ padding-left:5px; border:1px solid #ccc; height:20px; line-height:20px;}
.resume_profile_wbks{ width:20px; padding-left:5px; border:1px solid #ccc; height:16px; line-height:16px;}
.resume_profile_textarea{ width:630px; line-height:18px;resize:none; font-size:12px;overflow-y: hidden}
.resume_profile_tks{ width:494px;line-height:18px;resize:none; font-size:12px;overflow-y: hidden}
.resume_profile_tbks{ width:580px;line-height:18px;resize:none; font-size:12px;overflow-y: hidden}
.resume_profile_tblock{ width:488px;line-height:18px;resize:none; font-size:12px;overflow-y: hidden}
.resume_profile_tblocks{ width:470px;line-height:18px;resize:none; font-size:12px;overflow-y: hidden}
.resume_profile_srk{ width:175px;float:left; margin-top:17px}
.resume_profile_srks{ width:166px; height:30px; line-height:18px; float:left;}
.resume_profile_word{ width:316px; padding:5px; float:left}
.resume_profile_select{ width:178px; height:22px; text-align:center; line-height:22px; background-image: url(../images/resume_profile_select.gif);float:left; font-size:12px;}

/*--------------个人资料 E----------------*/
.info_table_3{clear:both;overflow:hidden;height:auto; line-height:20px;}
.info_table_3 table{background-color:#e9edf1}
.info_table_3 th{font-weight:400;padding-top:6px;padding-right:5px;padding-bottom:6px;width:80px;background-color:#f3f7f9;text-align:right; font-weight:bold; color:#333;}
#EN_resume_box .info_table_3 th{width:155px}
.info_table_3 td{padding-top:6px;padding-bottom:6px;background-color:#FFF;padding-left:5px}
.info_table_3_button{ width:750px; height:21px; line-height:21px; margin-top:15px;}
.info_table_3_button_l{ width:59px; height:21px; background-image:url(../images/application_button.gif); color:#FFFFFF; float:left; margin-left:307px; display:inline}
.info_table_3_button_r{ width:59px; height:21px;background-image:url(../images/application_button.gif); color:#FFFFFF; float:left; margin-left:20px; display:inline}
.info_table_3_button_c{ width:59px; height:21px; line-height:21px;background-image:url(../images/application_button.gif); color:#FFFFFF;}
.education{ width: auto; margin:10px 0 0 15px; float:left; display:inline }
.resume_addInfo{ background-image:url(../images/jobseeker.png); width:62px; height:20px; line-height:20px;color:#e36500; font-size:12px;}


/*--------------人脉下拉 S------------*/
.friend_xl{position:absolute;width:97px; text-align:center; line-height:28px;border:1px solid #e0e8ec; background-color:#FFF; overflow:hidden; color:#666;}
.friend_xl ul{width:97px; float:left}
.friend_xl ul li{width:97px; height:28px; float:left}
.friend_xl ul li a{width:97px; height:28px; float:left; color:#666;background-color:#f2f2f2}
.friend_xl ul li a:hover{width:97px; height:28px; float:left; color:#000;background-color:#fff}
.friend_xl img{ float:left; margin:6px 0 0 3px; display:inline}
/*---------------人脉下拉 E----------------*/

/*--------------删除，取消 S----------------*/
.dialog{ width:400px; height:181px; color: #333333; z-index: 99; background-image: url(../images/dialog_bg.png); overflow:hidden}
.dialogcon{ width:380px; height:161px; float:left; margin-top:10px;}
.dialog .titlebar{ border-top:1px solid #888888;border-left:1px solid #888888;border-right:1px solid #888888;border-bottom:1px solid #d3d3d3; background-image:url(../images/titlebarbg.jpg);width:378px;_width:376px; height:29px;}
.dialog .titlebar h1{ color:#ff9d10;float: left;font-size: 14px;font-weight: bold;line-height:29px; float:left; margin:0 0 0 10px; display:inline}
.b{ font-weight:bold}
.large{ font-size:14px;}
.dialog .titlebar a.close{ background: url(../images/dialog_close.gif) no-repeat scroll left top transparent; cursor: pointer; float: right; height: 19px; margin: 5px; overflow: hidden; text-indent: -9999px; width: 19px;}
.dialog .titlebar a.close:hover { background: url(../images/dialog_closes.gif) no-repeat scroll left transparent;}
.dialog .light-bg {background: none repeat scroll 0 0 #FFFFFF;margin: -14px -14px 0;min-height: 100px;padding: 14px;}
.dialog .client {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #888888;
    border-style: solid;
    border-width: 0 1px;
	height:58px;
    padding: 14px;
	text-align:left;
	width:350px;
	_width:348px;
	overflow:hidden;
}

.dialog .client .g9{ margin-left:30px; line-height:21px; padding-bottom:16px;}
.dialog .client .gzfyk{ width:270px; line-height:21px; padding-bottom:16px;}
.dialog .client .gzfyk ul{ width:270px;}
.dialog .client .gzfyk ul li{ width:90px; float:left}
.dialog .client .gzfyks{ margin-right: 3px; vertical-align: -2px;}
.dialog .buttons {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6;
    background-position: 8px center;
    border-color: #CCCCCC #888888 #888888;
    border-right: 1px solid #888888;
    border-style: solid;
    border-width: 1px;
	height:26px;
	width:370px;
	_width:368px;
    clear: both;
    padding: 8px 8px 8px 0;
    text-align: right;
}

.default{ width:64px; height:26px; line-height:26px; text-align:center; background-image: url(../images/default.gif); color:#FFF; display:block; float:right; margin-right:10px; display:inline; cursor:pointer}
.normal{ width:64px; height:26px; line-height:26px; text-align:center; background-image: url(../images/normal.gif); color:#000; display:block; float:right; margin-right:10px; display:inline; cursor:pointer}

/*--------------删除，取消 E----------------*/

/*------------基本设置头部 S-----------*/
.basic{ width:769px; height:30px; float:left; margin-bottom:15px; background-image:url(../images/information_bg.gif)}
.basic_l{ width:115px; height:30px; background-image:url(../images/information_hr.gif); float:left}
.basic_l span{ float:left; margin:9px 0 0 31px; display:inline; font-size:14px; font-weight:bold;  color:#ff8400}
.basic_r{ width:70px; height:30px; float:left}
.basic_r span{ float:left; margin:11px 0 0 18px; display:inline; color:#b9b9b9; cursor:pointer}

.basic_ls{ width:81px; height:30px; background-image:url(../images/information_hrs.gif); float:left}
.basic_ls span{ float:left; margin:9px 0 0 31px; display:inline; font-size:14px; font-weight:bold;  color:#ff8400}
.basic_rs{ width:70px; height:30px; float:left}
.basic_rs span{ float:left; margin:11px 0 0 18px; display:inline; color:#b9b9b9; cursor:pointer}


/*--------------评论和回复 S----------------*/
.comment_messages{ width:620px; float:right; margin-top:8px;text-align:left; word-wrap: break-word;}
.comment_messages ul{ width:60px;}
.comment_messages ul li{ width:620px; float:left; display: inline-block; margin-bottom:5px; line-height:18px;color:#666;}
.comment_messages ul li span{ float:right; text-align:right; color:#CCC}

/*--------------评论和回复 E----------------*/
.table_td{ padding-left:15px}
.job_but{ width:111px; height:21px;font-size:12px; float:right; margin:10px 30px 0 0; display:inline;background-image: url(../images/job_but.gif);line-height:21px; color:#FFF; text-align:center; cursor:pointer}

.clew_2_box{float:left; margin-top:10px; width:769px;}
.clew_2 {
    background:url(../images/ico_clew_2.gif) no-repeat scroll left center transparent;
    float:left;
	line-height:28px;
    padding-left: 18px;
    padding-top: 1px;
}
.clew_2 .font_hilite, .advert .font_hilite {
    font-weight: 700;
}
dl.funDes {
    clear: both;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
}
dl.funDes dt {
    background: url(../images/jobseeker_icon.png) no-repeat scroll 0 -210px transparent;
    clear: both;
    font-weight: 700;
    height: auto;
    margin-bottom: 8px;
    overflow: hidden;
    padding-left: 20px;
}
dl.funDes dd {
    clear: both;
    height: auto;
    line-height: 180%;
    overflow: hidden;
}


/*--------------人脉下拉 S------------*/
.infor_list{position:absolute; left:12px; top:303px; *top:40px; _left:-190px;width:189px; *width:188px; text-align:center; line-height:28px;border:1px solid #ff7900; background-color:#FFF; overflow:hidden; color:#666;}
.infor_list ul{width:188px; float:left}
.infor_list ul li{width:188px; height:28px; float:left}
.infor_list ul li a{width:188px; height:28px; float:left; color:#666;background-color:#fff}
.infor_list ul li a:hover{width:188px; height:28px; float:left; color:#fff;background-color:#ff7900}
.infor_list img{ float:left; margin:6px 0 0 3px; display:inline}
/*---------------人脉下拉 E----------------*/

/*-----------------私信发送 回复 S-----------------*/
.application_down .box{ width:610px;float:left; margin:33px 0 0 54px; display:inline; color:#444}
.application_down .send{ width:610px; height:24px; font-size:14px; font-weight:bold; border-bottom:1px solid #e6e6e6; float:left;}
.application_down .send_back{ width:610px; float:left; margin-top:17px; font-family:Verdana, Geneva, sans-serif}

.application_down .send_input{ width:549px; height:114px; float:right; margin-top:26px;}
.application_down .send_input .email{ width:488px; height:20px; float:left}
.application_down .send_input .email .img{ width:16px; height:11px; float:left; margin:2px 5px 0 0}
.application_down .send_input .email .word{ white-space:nowrap;float:left;}
.application_down .send_input .email .words{ white-space:nowrap;float:right; margin-top:-4px;}

.application_down .block{ width:549px; height:94px; float:left}
.application_down .block .left{ width:488px; height:94px; float:left}
.application_down .block .left .top{ width:488px; height:6px; float:left; overflow:hidden}
.application_down .block .left .cer{ width:478px; _width:488px; height:48px;border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; float:left; line-height:18px; padding-left:8px}
.application_down .block .left .cers{ width:472px; height:42px; border:0px;float:left; resize:none; overflow:hidden; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#333;word-wrap:break-word; }
.application_down .block .left .button{ width:486px; _width:488px; height:33px; overflow:hidden; float:left; border-top:1px solid #e6e6e6; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; background-color:#f3f3f3}
.application_down .block .left .button .expression{ width:486px; height:33px; float:left;}
.application_down .block .left .dw{ width:488px; height:6px; float:left}

.application_down .block .right{ width:50px; height:50px; float:right}

/*表情和发送按钮*/
.sends_dw{ width:486px; _width:488px; height:33px; overflow:hidden; float:left; border-top:1px solid #e6e6e6; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; background-color:#f3f3f3}
.sends_dw ul{ float:left; margin:7px 0 0 10px; display:inline}
.sends_dw li { width:57px; height:25px; float:left; line-height:25px;}
.sends_dw li a{display:block; cursor:pointer}
.sends_dw li a:hover{ width:57px; height:25px; float:left;background: url(../images/share_dw_hr.gif) no-repeat;display:block; color:#666; text-decoration:none; cursor:pointer}
.sends_icon{ float:left; padding:3px 0 0 5px; display:inline}
.sends_word{ float:left; padding:0 0 0 4px;}
.sends_right{ width:9px; height:162px; float:right}
.sends_dw_button{width:78px; height:29px; float:left;margin-left:332px; margin-top:5px; display:inline;background-image:url(../images/button.gif); cursor:pointer}


.myinput{ width:549px; float:right; margin-top:18px; _margin-top:9px;}
.myinput .left{ width:488px; float:left}
.myinput .left .top{ width:488px; height:6px; float:left; overflow:hidden}
.myinput .left .cer{ width:486px; _width:488px; float:left; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; background-color:#f3f3f3; line-height:21px; color:#444}
.myinput .left .cer .con{ width:471px; float:left; margin:2px 0 0 10px; display:inline;word-wrap:break-word; word-break:break-all; color:#444}
.myinput .left .dw{ width:488px; height:6px; float:left}
.myinput .right{ width:50px; height:50px; float:right}

.mysend{ width:549px; float:left; margin-top:18px; _margin-top:9px;}
.mysend .left{ width:488px; float:right}
.mysend .left .top{ width:488px; height:6px; float:left; overflow:hidden}
.mysend .left .cer{ width:486px; _width:488px; float:left; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; line-height:21px;word-wrap:break-word; word-break:break-all;}
.mysend .left .cer .con{ width:471px; float:left; margin:2px 0 0 10px; display:inline;word-wrap:break-word; word-break:break-all; color:#444}
.mysend .left .dw{ width:488px; height:6px; float:left}
.mysend .right{ width:50px; height:50px; float:left}

/*-----------------私信发送 回复 E-----------------*/


/*-------------------分页 S-----------------*/
.search_but{ height:21px; line-height:21px; font-family:Verdana, Geneva, sans-serif; margin-top:26px; float:right}
.search_but .left{ width:28px; height:21px; float:left; margin-right:5px;}
.search_but .lefts{ width:28px; height:21px; float:left; margin-right:5px; cursor:pointer}
.search_but .number{ width:20px; height:19px; line-height:19px; float:left; margin-right:5px; color:#072d42; border:1px solid #c2c2c2; text-align:center}
.search_but .number a{ display:block;color:#072d42; background-color:#FFF}
.search_but .number a:hover{ display:block; color:#fff; background-color:#3378b5}
.search_but .numbers{ width:20px; height:19px; line-height:19px; float:left; margin-right:5px; display:block; color:#fff; background-color:#3378b5;border:1px solid #c2c2c2; text-align:center}

.search_but .right{ width:28px; height:21px; float:left; margin-right:11px;}
.search_but .rights{ width:28px; height:21px; float:left; margin-right:11px; cursor:pointer}
.search_but .top{ width:54px; height:21px; cursor:pointer}
/*-------------------分页 S-----------------*/

.search_term{width:234px; float:right;}
.search_term_top{width:234px; height:26px; _height:33px; float:left; background-image:url(../images/hot_people.gif);font-weight:bold; font-size:14px; color:#ff8400; text-align:center; padding-top:7px; }
.search_term_cer{ width:234px; float:left; background-image:url(../images/hot_people_cer.gif); }
.search_term_cer .content{ width:154px; float:left; margin:19px 0 0 41px; display:inline }
.search_term_cer .content dl{width:154px; float:left; margin-bottom:33px;}
.search_term_cer .content dl dt{width:154px; float:left; color:#525252; font-weight:bold; margin-bottom:3px;}
.search_term_cer .content dl dd{width:154px; float:left; color:#0179e7;cursor:pointer; line-height:24px;}


.search_term_dw{ width:234px; height:6px; float:left; background-image:url(../images/hot_people_dws.gif); overflow:hidden}

/*-------------人们人物 S--------------*/
.hot_people{width:234px; height:243px; float:right}
.hot_people_top{width:234px; height:33px; float:left; background-image:url(../images/hot_people.gif);}
.hot_people_top .word{ white-space:nowrap; font-size:14px; font-weight:bold; color:#ff8400; float:left; margin:8px 0 0 60px; display:inline}
.hot_people_top .button{width:50px; height:17px; float:left; margin-top:6px}
.hot_people_top .button .img1{ float:left; margin-left:9px; display:inline; cursor:pointer}
.hot_people_top .button .img2{ float:right; cursor:pointer}

.hot_people_cer{ width:234px; float:left; background-image:url(../images/hot_people_cer.gif);}
.hot_people_cer .left{ width:68px; height:68px; border:1px solid #e1e1e1; padding:3px; float:left; margin:9px 0 0 33px; display:inline}
.hot_people_cer .right{ width:76px; float:left; margin-left:15px; margin-top:11px; display:inline;}

.hot_people_cer .right .name{ width:76px; float:left; font-size:14px; font-weight:bold; color:#0179e7; margin-top:5px}
.hot_people_cer .right .icon{ width:14px; height:17px; float:left; margin:6px 0 9px 0}
.hot_people_cer .right .button{ width:71px; height:17px; float:left; cursor:pointer}

.hot_people_con{ height:66px; float:left; margin:17px 0 0 33px; display:inline;}
.hot_people_con .address{ width:155px;float:left; margin-bottom:9px; color:#676767}
.hot_people_con .school{ width:155px;float:left; margin-bottom:3px; color:#0179e7}
.hot_people_con .dsiscipline{ width:155px;float:left; margin-bottom:5px; color:#0179e7}

.hot_people_dw{ width:212px; height:49px; float:left; background-image:url(../images/hot_people_dw.gif); margin:4px 0 14px 12px; display:inline}

.hot_people_dws{ width:234px; height:6px; float:left; background-image:url(../images/hot_people_dws.gif); overflow:hidden}

.hot_people_dw .block1{ width:68px; float:left; text-align:center; margin-top:10px}
.hot_people_dw .yw{ width:68px; color:#0179e7; font-weight:bold}
.hot_people_dw .zw{ width:68px; color:#676767; _margin-top:4px;}
.hot_people_dw .line{ width:1px; height:30px;float:left;background-color:#cccdcd; margin-top:10px}
/*-------------人们人物 E--------------*/
/**** 简历管理 S ****/
.r_complete{ font-size:12px; font-weight:bold; color:#000; margin-top:10px; text-align:left; margin-left:10px; }
.r_percentage{ text-align:left; margin-left:10px; margin-top:4px;}
.an_percentage{ width:95px; height:11px; display:block; float:left; border:1px solid #ccc; margin-right:5px; margin-top:2px; overflow:hidden;}
.index_con_l .resume .resume_list{ width:163px; float:left; background-image:url(../images/resumebg.gif); padding-bottom:10px; padding-top:-14px; *padding-top:4px;}
.yellow{ height:11px; background:url(../images/resume/plan_bg.gif) repeat-x; width:80px; float:left;}
.an_numeber{ float:left; background:none;}
.rh_detail{ clear:both; text-align:left; padding-top:10px; *padding-top:3px;}
.rh_detail li{margin-bottom:0;padding-left:5px;margin-top:0; height:19px; border-bottom:1px solid #e0e0df; color:#333; padding-top:5px; padding-left:6px;}
.rh_detail li a{padding-left:26px;background:url(../images/resume/ico_resume.png) no-repeat;text-align:left;display:block;line-height:16px;height:16px;margin-left:5px;float:left;}
.rh_detail li a.fun_1{background-position:0 0;}
.rh_detail li a.fun_2{background-position:0 -22px;}
.rh_detail li a.fun_3{background-position:0 -40px;}
.rh_detail li a.fun_4{background-position:0 -59px;}
.rh_detail li a.fun_5{background-position:0 -80px;}
.rh_detail li a.fun_6{background-position:0 -101px;}
.rh_detail li a.fun_7{background-position:0 -122px;}
.resume_help_bot{ margin-top:12px; margin-bottom:-5px;}
.resume_help_bot a{ font-size:14px; font-weight:bold; color:#ff7300;}
/**** 简历管理 E ****/